@model IEnumerable<EffortlessKitchen.Models.ViewModels.ChooseChefViewModel>

@{
    ViewData["Title"] = "ChooseChef";
}

<h1>ChooseChef</h1>

<div class="btn-group btn-group-toggle">
    <form>
    @foreach (var item in Model)
    {
        <label class="btn btn-light">
            <a asp-controller="Orders" asp-action="Create" asp-route-id="@item.ChefId" class="text-decoration-none" name="options" id="@item.ChefId" value="@item.ChefId" checked>
            @Html.DisplayFor(modelItem => item.FirstName)
            @Html.DisplayFor(modelItem => item.LastName)
            </a>
        </label>
    }
    </form>
</div>
