@model IEnumerable<EffortlessKitchen.Models.Order>

@{
    ViewData["Title"] = "OrderHistory";
}

<div class="d-flex flex-wrap justify-content-between header-stuff">
    <h3><strong>All Reservations</strong></h3>
</div>

<h4>Here you can see all past and upcoming reservations!</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuestCount)
            </th>
            <th>
                Chef
            </th>
            <th>
                Menu
            </th>
            <th>
                Total Price
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.DateTime < DateTime.Now)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GuestCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChefMenu.Chef.FirstName)
                        @Html.DisplayFor(modelItem => item.ChefMenu.Chef.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChefMenu.MenuOption.Name)
                    </td>
                    <td>
                        @String.Format("{0:c}", item.TotalPrice)
                    </td>
                </tr>
            }
            @if (item.DateTime > DateTime.Now)
            {
                <tr class="text-success">
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GuestCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChefMenu.Chef.FirstName)
                        @Html.DisplayFor(modelItem => item.ChefMenu.Chef.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChefMenu.MenuOption.Name)
                    </td>
                    <td>
                        @String.Format("{0:c}", item.TotalPrice)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
