@model EffortlessKitchen.Models.Chef
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<div class="d-flex flex-wrap justify-content-between header-stuff">
    <h3><strong>Details</strong></h3>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Specialties)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specialties)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-10">
            Menu
        </dt>
        <br />
        @foreach (var item in Model.ChefMenus)
        {
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.MenuOption.Name)
            </dd>
        }

    </dl>
</div>
<div>
    @if (SignInManager.IsSignedIn(User))
    {
        @if (UserManager.GetUserAsync(User).Result.Admmin == false)
        {
            <a class="card-link btn btn-primary" asp-action="Edit" asp-route-id="@Model.ChefId">Details</a>
        }
    }
    <a asp-action="Index" class="card-link">Back to List</a>
</div>
