@model IEnumerable<EffortlessKitchen.Models.Chef>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>The Chefs</h1>

<p>
    @if (SignInManager.IsSignedIn(User))
    {
        @if (UserManager.GetUserAsync(User).Result.Admmin == true)
        {
            <a asp-action="Create">Create New</a>
        }
    }
</p>

<div class="d-flex flex-wrap">
    @foreach(var item in Model)
    {
        <div class="card bg-danger text-white m-3" style="width: 18rem;">
                <h5 class="card-header">
                    @Html.DisplayFor(modelItem => item.FirstName)
                    @Html.DisplayFor(modelItem => item.LastName)
                </h5>
            <div class="card-body">
                <p class="card-text">
                    @Html.DisplayFor(modelItem => item.Description)
                </p>
                @if (SignInManager.IsSignedIn(User))
                {
                    @if (UserManager.GetUserAsync(User).Result.Admmin == true)
                    {
                        @Html.ActionLink("Edit   ", "Edit", new { id = item.ChefId })
                        @Html.ActionLink("See More   ", "Details", new { id = item.ChefId })
                        @Html.ActionLink("Delete", "Delete", new { id = item.ChefId })
                    }

                }
                @if (SignInManager.IsSignedIn(User))
                {
                    @if (UserManager.GetUserAsync(User).Result.Admmin == false)
                    {
                        @Html.ActionLink("See More", "Details", new { id = item.ChefId })
                    }
                }
            </div>
        </div>
    }
</div>
