@model IEnumerable<EffortlessKitchen.Models.MenuOption>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (SignInManager.IsSignedIn(User))
    {
        @if (UserManager.GetUserAsync(User).Result.Admmin == true)
        {
            <a asp-action="Create">Create New</a>
        }
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @if (SignInManager.IsSignedIn(User))
            {
                @if (UserManager.GetUserAsync(User).Result.Admmin == true)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.MenuOptionId }) |
                        @Html.ActionLink("See More", "Details", new { id = item.MenuOptionId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MenuOptionId })
                    </td>
                }
            }
            @if (SignInManager.IsSignedIn(User))
            {
                @if (UserManager.GetUserAsync(User).Result.Admmin == false)
                {
                    <td>
                        @Html.ActionLink("See More", "Details", new { id = item.MenuOptionId })
                    </td>
                }
            }
        </tr>
        }
    </tbody>
</table>
